<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clone</title>
    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/icons.css'%}">

    <!-- CSS 
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/tailwind-dark.css' %}">

</head>
<body>
    <div id="wrapper" class="flex flex-col justify-between h-screen">
        {% include 'navbar.html' %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="{{message.tags}}"{%endif%}>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock content %}
    </div>
    <!-- Scripts
    ================================================== -->
    <script src="{% static 'js/tippy.all.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/uikit.js' %}"></script>
    <script src="{% static 'js/simplebar.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>


    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>
</html>