<header>
    <div class="header_inner">
        <div class="left-side">
            <!-- Logo -->
            <div id="logo" class=" uk-hidden@s">
                <a href="home.html">
                    <img src="assets/images/logo-mobile.png" alt="">
                    <img src="assets/images/logo-mobile-light.png" class="logo_inverse">
                </a>
            </div>

            <div class="triger" uk-toggle="target: #wrapper ; cls: sidebar-active">
                <i class="uil-bars"></i>
            </div>

            <div class="header_search">
                <input type="text" placeholder="Search..">
                <div class="icon-search">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </div>
            </div>

        </div>
        <div class="right-side lg:pr-4">
            <!-- <a href="#upload-modal" uk-toggle>
                sdbajdbajk
           </a> -->
             <!-- upload upload-modal -->
            <a href="#"
                class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white">
                <ion-icon name="add-circle" class="-mb-1
                 mr-1 opacity-90 text-xl uilus-circle"></ion-icon> Upload
            </a>
             <!-- upload dropdown box -->
            <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small" class="header_dropdown">

                <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">
                    <h4>Upload Photo</h4>
                </div>
                
                <!-- notification contents -->
                <div class="flex justify-center flex-center text-center dark:text-gray-300">

                    <div class="flex flex-col choose-upload text-center">
                       
                       <form  action="{% url 'upload-photo' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{uploadForm.title.label}}
                            {{uploadForm.title}}
                            {{uploadForm.post_image}}
                            {{uploadForm.tag}}
                            <label for=""> {{uploadForm.description.label}}</label>
                            {{uploadForm.description}}
                            <input type="submit" value="Upload" class="button soft-warning small">
                        </form>
                    </div>

                </div>
                <div class="px-4 py-3 -mx-5 -mb-4 mt-5 border-t text-sm dark:border-gray-500 dark:text-gray-500">
                    Your Video size Must be Maxmium 999MB
                </div>
            </div>
            <!-- profile -->

            <a href="#">
                <img src="{{profile.profile_image.url}}" class="header-avatar" alt="">
            </a>
            
            <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                <ul>
                    <li><a href="#"> Account setting </a> </li>
                    <li><a href="#"> Payments </a> </li>
                    <li><a href="#"> Help </a> </li>
                    <li><a href="{% url 'logout' %}"> Log Out</a></li>
                </ul>
            </div>

        </div>
    </div>
</header>
